
div[data-toggle="collapse"] {
  cursor: n-resize;
}
div.collapsed[data-toggle="collapse"] {
  cursor: s-resize;
}

canvas {
  float: left;
}

.pa {
  color: #2191A2;
}
.pb {
  color: #32dac3;
}


/* overrides Bootstrap */

#graphDeck .card-header {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#graphDeck .card-footer {
  min-height: 170px;
  font-size: 14px;
}

.container-fluid {
  max-width:1170px;
}

.modal-footer {
  display: block;
  justify-content: left;
}

.is-invalid {
  background-color: #fff49e !important;
}

#graphDeck .card-body {
  height: 300px;
  padding: 10px;
}

.table {
  margin-bottom: 0;
  line-height: 2rem;
}

.form-control-sm {
  font-size: 1rem;
}
